
.checkout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1em;
}

.checkoutBanner{
    display: flex;
    justify-content: center;
}

.checkout img{
    object-fit: contain;
}

.checkoutPrice{
    font-weight: bold;
}